/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.green-cur{
    color:green;
    text-align: right;
}
.red-cur{
    color:red;
    text-align: right;
}
.btn-large{
    margin-top: 8%;
    width: 100%;
    text-align: left;
}
.white-text{
    font-size: 150%;
}